﻿@{
    ViewData["Title"] = "Index";
}

<h1>Centrale d'appels</h1>

<div>
    <h2 class="text-primary text-center">Statistiques</h2>
    <hr />
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 alert-primary border rounded border-primary border-3 mt-5 pt-1">
            <div class="row m-3">
                <div class="col-md-6">
                    <p>Nombre d'appels dans la journée: </p>
                </div>
                <div class="col-md-6 text-center fw-bolder">
                    <p id="nombreAppelsJourneeEnCours"></p>
                </div>
            </div>
            <div class="row m-3">
                <div class="col-md-6">
                    <p>Temps moyen d'appel dans la journée: </p>
                </div>
                <div class="col-md-6 text-center fw-bolder">
                    <p id="tempsMoyenParAppel"></p>
                </div>
            </div>
            <div class="row m-3">
                <div class="col-md-6">
                    <p>Nombre d'agents présents dans la journée: </p>
                </div>
                <div class="col-md-6 text-center fw-bolder">
                    <p id="nombreAgentsPresents"></p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>

    <script>

        window.onload = function () {
            let connexion = new signalR.HubConnectionBuilder().withUrl("/centraleAppelsHub").build();
            
            connexion.on("MettreAJourStatistiques", function (statistiques) {
                let temps = statistiques['tempsMoyenParAppel'].split(".")[0];
                let heures = temps.split(":")[0] + " h ";
                let minutes = temps.split(":")[1] + " min ";
                let secondes = temps.split(":")[2] + " sec";

                document.getElementById("nombreAppelsJourneeEnCours").textContent = statistiques['nombreAppelsJourneeEnCours'];
                document.getElementById("tempsMoyenParAppel").textContent = heures + minutes + secondes;
                document.getElementById("nombreAgentsPresents").textContent = statistiques['nombreAgentsPresents'];
            });

            connexion.start().catch(function (err) {
                return console.error(err.toString());
            });
        };
    </script>
}
